@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Futurica:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
/* Back Conteiner IMG see not */

.head-top {
  background: #3ad4d8;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
  padding: 16px;
}

.row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.fon {
  padding-right: 10px;
  border-right: 1px solid #000;
}
.fon2 {
  padding-left: 10px;
}
.iconfont {
  display: flex;
  gap: 12px;
}
/* Container2 */

.bgcontainer2 {
  background: #d9d9d9;
  width: 100%;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lid-flex {
  display: flex;
  justify-content: center;
  gap: 37px;
}
li {
  font-size: 14px;
  font-weight: 700;
}
.icond-flex {
  display: flex;
  gap: 13px;
}
.bgborder {
  padding: 12px 14px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
}

/* Heder Animated After and Hover */
.hederanimatedr:after {
  content: "";
  display: block;
  transform: scaleX(0);
  border-bottom: 2px solid #3ad4d8;
  /* background: #3ad4d8; */
  transition: 0.5s ease;
  transform-origin: center;
}
.hederanimatedr:hover:after {
  transform: scaleX(1);
}

/* Section1 */
.section1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 156px;
}
/* Sectio1 Left And Right design */
.left {
  display: flex;
  flex-direction: column;
  max-width: 556px;
  gap: 13px;
}

.titleh1 {
  font-size: 46px;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
  white-space: pre-line;
}
.titleh4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.btn {
  width: 167px;
  border: 0px;
  color: #d9d9d9;
  height: 50px;
  background: #543ee9;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  transform: scale(1.14);
}

.imgwidth {
  width: 350px;
  height: 250px;
  position: relative;
  z-index: 1;
}
.imgwidth > img {
  width: 100%;
}
.right {
  position: relative;
}
.divs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
  background: #000;
}
.imgdiv {
  top: 120px;
  left: 180px;
  position: absolute;
  opacity: 0.8;
  z-index: 1;
}
/*backdiv1right design  */
.backdiv1right {
  position: absolute;
  width: 260px;
  height: 420px;
  top: -60px;
  right: 50px;
  box-shadow: 42px 18px 12px rgba(80, 80, 80, 0.25);
  border-radius: 5px;
  transform: rotate(22.66deg);
  background: #671c7c;
}
/* backdivtopright design */
.backdivtopright {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -100px;
  right: 80px;
  border-radius: 40px;
  background: #fe5538;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
/* backdiv2left design */
.backdiv2left {
  position: absolute;
  width: 211px;
  height: 250px;
  top: -60px;
  left: -50px;
  border-radius: 5px;
  box-shadow: 30px 4px 27px rgba(82, 82, 82, 0.25);
  background: #3ad4d8;
  transform: rotate(-37.25deg);
}
/* backdivtopleft design */
.backdivtopleft {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -90px;
  left: 20px;
  z-index: 1;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  border-radius: 40px;
  background: #671c7c;
}
/* backdivbotmleft design */
.backdivbotmleft {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #3ad4d8;
  z-index: 1;
  opacity: 0.8;
  bottom: -4px;
  left: 90px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
/* Section2 Left And Right Design */
.section2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 140px;
}

.imgwidth2 {
  width: 350px;
  height: 250px;
  position: relative;
  z-index: 1;
}
.imgwidth2 > img {
  width: 100%;
}
.left2 {
  position: relative;
}
/* Div backDesign */
.backdiv {
  width: 200px;
  height: 150px;
  background: #671c7c;
  position: absolute;
  top: -30px;
  left: 35%;
  border-radius: 5px;
  box-shadow: 49px 42px 12px rgba(80, 80, 80, 0.25);
  transform: rotate(-31.01deg);
}
/* backdivBorder */
.backdivborder {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #671c7c;
  border-radius: 50px;
  top: -55px;
  left: 25%;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  z-index: 1;
}
/* backDiv2 */
.backdiv2 {
  width: 200px;
  height: 150px;
  position: absolute;
  background: #3ad4d8;
  bottom: -20px;
  left: 10%;
  box-shadow: 30px 4px 27px rgba(82, 82, 82, 0.25);
  border-radius: 5px;
  transform: rotate(-37.25deg);
}
/* backdivBorder2 */
.backdivborder2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fe5538;
  left: 45px;
  border-radius: 40px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}

.right2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 556px;
  gap: 30px;
}

.titleh3 {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}
/* Section3 Design */
.section3 {
  margin-top: 100px;
}
.divheder {
  text-align: center;
  align-items: center;
}

/* Div Carts D-flex */
.divcarts {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.cart1 {
  width: 315px;
  height: fit-content;
  background: #ffffff;
  position: relative;
  transition: 0.3s ease;
}
.hoverP {
  display: none;
  padding-top: 14px;
}
.cart1:hover {
  padding: 9px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
}
.cart1:hover .hoverP {
  display: block;
}

.changebg {
  border: 0;
  background-color: #543ee9;
  color: #ffffff;
  cursor: pointer;
}
.changebg:hover {
  transform: scale(1.05);
  background: #f7f6f6;
  color: #000;
  border: 1px solid #353535;
}
.bgchange > p {
  color: #543ee9;
}
.cartimg1 {
  width: 100%;
  height: 100%;
}

.cartimg1 > img {
  width: 100%;
  height: 100%;
}
.cart1:hover .btnmany > p {
  color: #3ad4d8;
}
.hourname {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fe5538;
  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
}
.ellipsis {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 5px;
  background: #3ad4d8;
}
.titleh5 {
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
  word-break: break-all;
  text-overflow: clip;
}
.btnmany {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnsec3 {
  width: 127px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}
.btnsec3:hover {
  transform: scale(1.05);
}

/* Sual verilecek..? */
.btnmany > p {
  color: #671c7c;
  font-weight: 800;
  font-size: 15px;
  line-height: 75px;
}
.aydesign {
  font-size: 12px;
  padding: 2px;
}
/* Position Love  */
.positlove {
  width: 46px;
  height: 44px;
  top: 18px;
  right: 12px;
  position: absolute;
}
/* Cart(2) */
.cart2 {
  width: 315px;
  height: fit-content;
  background-color: #ffffff;
  position: relative;
  /* cursor: pointer; */
  transition: 0.3s ease;
}
.hoverP {
  display: none;
  transition: 0.3s ease;
}

.cart2:hover {
  padding: 9px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
}
.cart2:hover .hoverP {
  display: block;
  opacity: 1;
}
.cart2:hover .btnmany > p {
  color: #3ad4d8;
}

.cartimg2 {
  width: 100%;
  height: 100%;
}

.cartimg2 > img {
  width: 100%;
  height: 100%;
}
.center {
  padding: 15px;
}

.divcenterAll {
  display: block;
  margin: 55px auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border: 0px;
  cursor: pointer;
}
.divcenterAll:hover {
  transform: scale(1.2);
}
/* Section(4) Design */
.section4 {
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.left4 {
  max-width: 556px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* gap: 20px; */
}
/* DivCricleSec4 */
.divCricleSec4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fe5538;
  border-radius: 40px;
  top: -45px;
  left: -80px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
/* DivCricl2Sec4 */
.divCricle2Sec4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #3ad4d8;
  border-radius: 40px;
  bottom: -20px;
  right: 140px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
.right4 {
  position: relative;
}
/* divRightCricleSec4  */
.divRightCricleSec4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #671c7c;
  border-radius: 40px;
  top: 4px;
  right: -65px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
/* divRightCricle2Sec4 */
.divRightCricle2Sec4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d6a7f9;
  border-radius: 40px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  bottom: -2px;
  right: 50px;
}
.h5design {
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  font-style: normal;
  margin: 0;
  color: #543ee9;
}

.changebtn {
  border: 0;
  width: 188px;
  height: 50px;
  color: #ffffff;
  background: #543ee9;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.changebtn:hover {
  transform: scale(1.1);
}
/* Section(5) Design */
.section5 {
  padding-top: 120px;
}
.divheder {
  text-align: center;
  align-items: center;
}
/* Cart(1) */
.divcart1sec5 {
  width: 390px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.h4sec5 {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #fe5538;
}
/* Cart(2) */
.divcart2sec5 {
  width: 390px;
  height: 330px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.positText {
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}
.h4cartsec5 {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #3ad4d8;
  position: absolute;
  top: 20px;
  left: 4px;
}
/* Back text cart  */
.flip-card {
  background-color: transparent;
  width: 390px;
  height: 330px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  color: #000;
  padding: 80px 25px;
  transform: rotateY(180deg);
}

/* Cart(3) */
.divcart3sec5 {
  width: 399px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.h4cart2sec5 {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #d6a7f9;
  position: absolute;
  top: 20px;
  left: 4px;
}
/* Section(6) Design */
.section6 {
  padding-top: 178px;
}
.divheder {
  text-align: center;
  align-items: center;
}
.titleh5sec6 {
  word-break: break-all;
  text-overflow: clip;
  font-family: "Futurica";
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

/* -- */
.btnmany > p {
  color: #3ad4d8;
  font-weight: 800;
  font-size: 18px;
  line-height: 75px;
}
/* Section(7) */
.section7 {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.left3 {
  position: relative;
}
/* Section(8) */
.section8 {
  margin-top: 150px;
}

.cricleDiv {
  position: relative;
}
/* DivCricle02 */
.divCricle02 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #3ad4d8;
  top: -60px;
  left: 60px;
  border-radius: 40px;
  box-shadow: 30px 20px 10px rgba(101, 101, 101, 0.25);
}
/* DivCricle01 */
.divCricle01 {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -55px;
  right: 150px;
  border-radius: 40px;
  background: #d6a7f9;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}

.cart1sec8 {
  width: 315px;
  height: auto;
  background: #f7f6f6;
  padding: 16px;
  position: relative;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.25);
}
.cart1sec8:hover {
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
  cursor: pointer;
  transition: 0.3s ease;
  background: #ffffff;
}
.border50 {
  padding: 12px;
}

.border50 > img {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.centersec8 {
  padding: 0px 15px;
}
.titleh5sec8 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  word-break: break-all;
  text-overflow: clip;
}
.centersec8 > p {
  margin-top: 18px;
}

/* Section(9) */
.cart1sec9 {
  width: 315px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
}

.titleh5sec9 {
  word-break: break-all;
  text-overflow: clip;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
}
.centersec9 {
  padding: 20px 10px;
}
.centersec9 > p {
  margin-top: 28px;
}
.changebtnmany {
  margin-left: 70%;
  margin-top: 50px;
}
.changebtnmany > p {
  color: #543ee9;
}
/* Section(10) */
.section10 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 90px;
  margin: 35px;
}
.left3sec10 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  margin: 30px;
}
.right3 {
  position: relative;
}
/* divcricle1 */
.divcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -70px;
  right: 90px;
  border-radius: 40px;
  background: #fe5538;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
/* divcricle2 */
.divcircle2 {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -60px;
  left: 130px;
  border-radius: 40px;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  background: #3ad4d8;
}
/* Section(11) */
/* bgcartsec11 */
.bgcartsec11 {
  width: 550px;
  height: 450px;
  background: #f7f6f6;
  padding: 28px;
}

.splide__track {
  width: 100%;
  height: 100%;
  padding: 50px;
}
.splide__slide {
  /* background: blue; */
  width: 450px;
  height: 350px;
}
.splide__slide > img {
  width: 100%;
  height: 100%;
}
/* Section(12) */
.changediv {
  margin-top: 20px;
}
.cart2sec12 {
  padding: 8px;
}
/* ------------------- */
/* Footer */
.bgcontent {
  padding: 0px;
}
.footer {
  width: 100%;
  background: #671c7c;
}
.footercenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}
.divlogofooter {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}
.divlogofooter > ul > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.footerbootm {
  display: flex;
  width: 88%;
  margin: auto;
  justify-content: space-between;
  padding: 40px;
  color: #ffffff;
}
