@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Futurica:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
/* Back Conteiner IMG see not */

.head-top {
  background: #3ad4d8;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
  padding: 16px;
}

.row {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.fon {
  padding-right: 10px;
  border-right: 1px solid #000;
}
.fon2 {
  padding-left: 10px;
}
.iconfont {
  display: flex;
  gap: 12px;
}
/* Container2 */

.bgcontainer2 {
  background: #d9d9d9;
  width: 100%;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lid-flex {
  display: flex;
  justify-content: center;
  gap: 37px;
}
li {
  font-size: 14px;
  font-weight: 700;
}
.icond-flex {
  display: flex;
  gap: 13px;
}
.bgborder {
  padding: 12px 14px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
}
/* Heder Animated After and Hover */
.hederanimatedr:after {
  content: "";
  display: block;
  transform: scaleX(0);
  border-bottom: 2px solid #3ad4d8;
  /* background: #3ad4d8; */
  transition: 0.5s ease;
  transform-origin: center;
}
.hederanimatedr:hover:after {
  transform: scaleX(1);
}

/* Courses Section(1)  */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titleh1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
}
.center {
  margin: 50px auto;
  display: flex;
  width: 100%;
  gap: 20px;
}
/* left design */
.left {
  width: 30%;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.5);
}
.leftInput {
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  gap: 8px;
}
/* Checbox design  */
.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 8px;
  border: 1px solid #fe5538;
  transition: all 0.3s;
}
/* input Checked */
.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fe5538;
  border-color: #fe5538;
}
/* input Checked ::after */
.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #dfec5065;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #c3cf34;
} */

/* .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
} */

/* .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
} */

#horns {
  /* appearance: none; */
  width: 12px;
  height: 12px;
  border: 1px solid red;
}
.hornslabel {
  padding: 4px;
}
.divlabel {
  /* padding: 5px; */
  border-bottom: 1px solid #d5d5d5;
}
.right {
  width: 70%;
}
/* ---- Rihgt Design ----- */
/* Div Carts D-flex */
.divcarts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.centerCart {
}

.cart1 {
  width: 250px;
  height: fit-content;
  background: #ffffff;
  position: relative;
  transition: 0.5s ease;
}
.hoverP {
  display: none;
  padding-top: 14px;
}
.cart1:hover {
  padding: 9px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
  transform: scale(1.1);
  z-index: 2;
}
.cart1:hover .hoverP {
  display: block !important;
}

.iconstar {
  display: none;
}
.cart1:hover .centerCart .iconstar {
  display: block !important;
}
.changebg {
  border: 0;
  background-color: #543ee9;
  color: #ffffff;
  cursor: pointer;
}
.changebg:hover {
  transform: scale(1.05);
  background: #f7f6f6;
  color: #000;
  border: 1px solid #353535;
}
.bgchange > p {
  color: #543ee9;
}
.cartimg1 {
  width: 100%;
  height: 100%;
}

.cartimg1 > img {
  width: 100%;
  height: 100%;
}
.cart1:hover .btnmany > p {
  color: #3ad4d8;
}
.hourname {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fe5538;
  font-weight: 700;
  font-size: 11px;
  line-height: 28px;
}
.ellipsis {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 5px;
  background: #3ad4d8;
}
.titleh5 {
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
  word-break: break-all;
  text-overflow: clip;
}
.btnmany {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btnsec3 {
  width: 108px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}
.btnsec3:hover {
  transform: scale(1.05);
}

/* Sual verilecek..? */
.btnmany > p {
  color: #671c7c;
  font-weight: 800;
  font-size: 15px;
  line-height: 75px;
}
.aydesign {
  font-size: 12px;
  padding: 2px;
}
/* Position Love  */
.positlove {
  width: 46px;
  height: 44px;
  top: 18px;
  right: 12px;
  position: absolute;
}
/* Cart(2) */
.cart2 {
  width: 250px;
  height: fit-content;
  background-color: #ffffff;
  position: relative;
  /* cursor: pointer; */
  transition: 0.5s ease;
}
.hoverP {
  display: none;
  transition: 0.3s ease;
}

.cart2:hover {
  padding: 9px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
  transform: scale(1.1);
  z-index: 2;
}
.cart2:hover .hoverP {
  display: block;
  opacity: 1;
}
.cart2:hover .btnmany > p {
  color: #3ad4d8;
}

.cartimg2 {
  width: 100%;
  height: 100%;
}

.cartimg2 > img {
  width: 100%;
  height: 100%;
}
.center {
  padding: 15px;
}

.divcenterAll {
  display: block;
  margin: 55px auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border: 0px;
  cursor: pointer;
}
.divcenterAll:hover {
  transform: scale(1.2);
}
/* Section(2) */
.centerText {
  width: 100%;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 20px;
  line-height: 26px;
}
.left1 {
  width: 45%;
}
.right1 {
  width: 45%;
}
/* ------------- */
/* Footer Design */
.bgcontent {
  padding: 0px;
}
.footer {
  width: 100%;
  background: #671c7c;
}
.footercenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}
.divlogofooter {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}
.divlogofooter > ul > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.footerbootm {
  display: flex;
  width: 88%;
  margin: auto;
  justify-content: space-between;
  padding: 40px;
  color: #ffffff;
}
